.balance {
    background-color: #F9F8FE;
}

.balance__wrapper {
    padding: 108px 0;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.balance__block {
    padding-top: 100px;
    max-width: 600px;
}

.balance__label span {
    font-size: 18px;
    line-height: 150%;
}

.balance__heading-wrapper {
    padding: 20px 0;
}

.balance__text p {
    font-size: 18px;
    line-height: 160%;
}

.balance__actions {
    padding-top: 48px;
    display: flex;
    gap: 7px;
}

.balance__button {
    width: 100%;
    max-width: 125px;
}

.balance__image-wrapper {
    max-width: 601px;
}