.features__wrapper {
    padding: 110px 0 110px 0;
}

.features__header {
    padding-bottom: 80px;
    max-width: 848px;
}

.features__label {
    padding-bottom: 22px;
}

.features__label span {
    font-size: 18px;
    line-height: 150%;
}

.features__text {
    padding-top: 21px;
}

.features__text p {
    font-size: 18px;
    line-height: 160%;
}

.features__cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.feature-card {
    max-width: 395px;
    width: 100%;
}

.feature-card__image-wrapper {
    overflow: hidden; 
    border-radius: 8px;
    width: 100%;
    height: 222px;
}

.feature-card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feature-card__title {
    padding: 20px 0 18px 0;
}

.feature-card__title h5 {
    font-size: 22px;
    font-weight: 600;
    line-height: 160%;
}

.feature-card__text p {
    font-size: 16px;
    line-height: 160%;
}

.features__actions {
    padding-top: 80px;
    display: flex;
    gap: 7px;
}

.features__button {
    max-width: 77px;
    width: 100%;
}

@media screen and (max-width: 920px) {
    .features__cards {
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
    }

    .feature-card__title {
        padding: 10px 0 10px 0;
    }
}

@media screen and (max-width: 640px) {
    .features__wrapper {
        padding: 90px 0 90px 0;
    }

    .features__actions {
        padding-top: 60px;
    } 

    .features__text p {
        font-size: 16px;
    }

    .card__title h5 {
        font-size: 20px;
    }

    .feature-card__text p {
        font-size: 14px;
    }
}