.promo {
    background-color: #F9F8FE;
}

.promo__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    padding: 111px 0 111px 0;
}

.promo__block {
    max-width: 599px;
    padding-top: 24px;
}

.promo__text {
    padding-top: 20px;
}

.promo__text p {
    font-size: 18px;
    line-height: 160%;
}

.promo__benefits {
    display: flex;
    padding-top: 52px;
    gap: 11px;
}

.benefit {
    max-width: 290px;
}

.benefit__title {
    padding-bottom: 18px;
}

.benefit__title h5 {
    font-weight: 600;
    font-size: 22px;
    line-height: 160%;
}

.benefit__text p {
    font-size: 16px;
    line-height: 160%;
}

.promo__actions {
    padding-top: 48px;
    display: flex;
    gap: 7px;
}

.promo__button {
    max-width: 125px;
    width: 100%;
}

.promo__image {
    border-radius: 8px;
    max-width: 611px;
}

@media screen and (max-width: 1120px) {
    .promo__image-wrapper {
        display: none;
    }
    
    .promo__block {
        max-width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .promo__text p {
        font-size: 16px;
    }

    .benefit__title h5 {
        font-size: 20px;
    }

    .benefit__text p {
        font-size: 14px;
    }

    .promo__wrapper {
        padding: 90px 0 90px 0;
    }
}